* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --first: #f6f6f6;
    --second: #007bff;
    --third: #002450;
    --forth: #00bbff;
    --gray: #9fa4af;
    --dark-brown: #2d2d2d;
    --brown: #494949;
    --light-brown: #4f4f4f;

}
html{
    font-size: 18px;
    line-height: 1.4;
    font-family: Roboto, sans-serif;
}
body{
    overflow-x: hidden;
   
}
.wrapper {
    width: 100vw;
}
nav{
    position: sticky;

    top: 0px;
    z-index: 100;
    background-color: white;
}
.nav_container {

    width: 100vw;
    background-color: var(first);

    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 10px 20px;
    
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_items {
    display: flex;
    justify-content: space-around;
    text-align: center;
    gap: 30px;
}

.nav_items a {
    text-decoration: none;
    color: #002450;
    font-weight: 700;
}

.nav_icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_icon span {
    color: #002450;
}


/* hero section */

.hero_section {
    background-color: #007bff;
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;



}

.left_box {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 30px;


}

.left_box h1 {
    font-size: 70px;
    color: white;
}

.left_box p {
    font-size: 22px;
    color: white;
}

.left_box button {
    justify-self: center;
    align-self: flex-start;
    border: none;
    padding: 15px 30px;
    border-radius: 40px;
    color: #002450;
    font-weight: 800;
}

.left_box button:hover {
    background-color: #002450;
    color: white;
    transition: all 0.3s linear;
}

.right_box {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hori_container {
    background-color: #002450;
    color: white;
    display: flex;
    justify-content: space-betweem;
    align-items: center;
    padding: 30px 200px;
    gap: 20px;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-left: 10px;
}

.box i {
    max-width: 50px;
    font-size: 40px;
}

.box i:hover {
    transform: rotateY(180deg);
    transition: all 0.5s linear;
}

.box h3 {
    font-size: 30px;
    font-weight: 500;
}

.box p {
    font-size: 20px;
}

/* new section */
/* hosting container */
/* left side  */
.hosting_container{
    display: flex;
    width: 100vw;
    justify-content: space-around;
}
.left_side{
    /* width: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 30px;
}
.blue_div{
    background-color:#007bff;
    height: 270px;
    width: 480px;
    position: absolute;
    z-index: 1;
    left: 70px;
    top: 160px;
}
.girl_image img{
    width: 480px;
    height: 360px;
    position: relative;
    border:10px solid rgb(238, 226, 226);
    z-index:2;
}
.left_side .icon{
    font-size: 50px;
    position: absolute;
    z-index: 3;
}
/* right side */
.right_side{
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 30px;
    margin-top: 30px;
    
}

.right_side p{
    /* font-size: 22px;
    color: gray; */
    color: #494949;
    font-size: 18px;
    line-height: 1.4;
    font-family: Roboto, sans-serif;
}
.right_side h2{
    color: #002450;
    font-size: 40px;
    font-weight: 400;

   
}
.right_side button{
    color: var(--forth);
    background-color: white;
    align-self: flex-start;
    border:2px solid var(--forth);
    font-weight: 800;
    font-size: 15px;
    border-radius: 30px;
    padding: 20px 40px;
    
}
.right_side button:hover{
    background-color: var(--forth);
    color: white;
    transition: all 0.2s linear;
}

/* circle_container */
.circle_container{
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    margin-top: 100px;
}
.circle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.ring1,.ring3{
    border-top: 15px solid var(--forth);
    border-right: 15px solid var(--forth);
    border-bottom: 15px solid var(--forth);
    border-left: 15px solid var(--gray);
    border-radius: 50%;
    padding: 70px;
}
.ring2{
    border-top: 15px solid var(--third);
    border-right: 15px solid var(--third);
    border-bottom: 15px solid var(--third);
    border-left: 15px solid var(--third);
    border-radius: 50%;
    padding: 70px;
}
.circle .ring1 p{
    font-size: 20px;
    color: #002450;
}
.circle h4{
    color: #002450;
    font-size: 25px;
    font-weight: 500;
}
.circle p{
    font-size: 22px;
    color: #9fa4af;

}
