/* 
@import url(extraFile.css);
@import "extraFile.css" */


/* #paraId{
    color:purple;
}
.paraClass{
    color: brown;
} */


/* inheritance
.parent{
    color: red;
    
}
.child{
    color: green;
}
#child1{
    color: darkblue;
}

#child1{
    color:inherit;
}
#child2{
    color:initial;
} */