*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
.mask img{
    height: 500px;
    width: 500px;
    mask-image: url(./front.svg);
    mask-size: cover;

}

.filter img{
    filter: blur(2px);
    filter: brightness(200%);
    filter: contrast(30%);
    filter: drop-shadow(5px 5px 5px blue);
    filter: grayscale(50%);
}