*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
.heading{
    width: 200px;
    position: relative;
    color: black;
    margin: 20px;
    text-align: center;
}

.heading::before{
    content:"avi";
    color: red;

}
.heading::first-letter{
    color: green;
    font-size: xx-large;
}
/* .heading::after{
    position: absolute;
    content:"";
    border: 2px solid blue;
   
    width:50%;
    left: 0;
    bottom: 0;
    text-align: center;
} */
/* .heading p::selection{
    background-color: greenyellow;
}

p{
    column-count: 3;
    text-align: justify;
    column-rule: 5px solid black;
    column-gap: 50px;
    color: red;
} */

.box,.box2{

    width: 600px;
    height: 300px;
    border: 2px solid black;
    padding: 30px;
   display: flex;
   gap: 20px;
 

}
.img_div{
    /* border: 2px solid black; */
    width:30%;
    height: 250px;

    background-image: url(./female-doctor-hospital-with-stethoscope.png);
   background-repeat: no-repeat;
  background-position: center;
}
.content_box{
    width: 50%;
    /* border: 2px solid black; */
    align-self: center;
}
.box{
    container-name: sidebar;
    container-type: inline-size;
    margin-right: 200px;
}
@container sidebar(max-width:700px){
    .box{
        flex-direction: column;
    }
    .img_div{
        height: 100px;
        width: 100px;
    }
    .content_box{
        height: 100px;
        width: 100px;
    }
}
/* @media (width<=700px){
    .box{
        flex-direction: column;
    }
    .img_div{
        height: 100px;
        width: 100px;
    }
    .content_box{
        height: 100px;
        width: 100px;
    }
} */
