*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
.heading{
    width: 200px;
    position: relative;
    color: black;
    margin: 20px;
    text-align: center;
}

.heading::before{
    content:"avi";
    color: red;

}
.heading::first-letter{
    color: green;
    font-size: xx-large;
}
/* .heading::after{
    position: absolute;
    content:"";
    border: 2px solid blue;
   
    width:50%;
    left: 0;
    bottom: 0;
    text-align: center;
} */
/* .heading p::selection{
    background-color: greenyellow;
}

p{
    column-count: 3;
    text-align: justify;
    column-rule: 5px solid black;
    column-gap: 50px;
    color: red;
} */

.box,.box2{

    width: 600px;
    height: 300px;
    border: 2px solid black;
    padding: 30px;
   display: flex;
   gap: 20px;
 

}
.img_div{
    /* border: 2px solid black; */
    width:30%;
    height: 250px;

    background-image: url(./female-doctor-hospital-with-stethoscope.png);
   background-repeat: no-repeat;
  background-position: center;
}
.content_box{
    width: 50%;
    /* border: 2px solid black; */
    align-self: center;
}
.box{
    container-name: sidebar;
    container-type: inline-size;
    margin-right: 200px;
}
@container sidebar(max-width:700px){
    .box{
        flex-direction: column;
    }
    .img_div{
        height: 100px;
        width: 100px;
    }
    .content_box{
        height: 100px;
        width: 100px;
    }
}
/* @media (width<=700px){
    .box{
        flex-direction: column;
    }
    .img_div{
        height: 100px;
        width: 100px;
    }
    .content_box{
        height: 100px;
        width: 100px;
    }
} */

/* .dabbo{
    height: 200px;
    width: 200px;
    background-color: lightgreen;
    margin: 200px 20px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.dabbo:hover{
    color: white;
    transition: all 2s linear;
}
.dabbo::before{
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
    transform: translateY(-100%);
    transition: all 2s linear;
    z-index: -1;
    
}
.dabbo:hover::before{
    transform: translateY(0);
   
} */

.animation_box{
    height: 200px;
    width: 200px;
    background-color: yellow;
    display: grid;
    place-items: center;
    margin: 200px auto;
   position: relative;
   z-index: 1;
   overflow: hidden;
}
.animation_box:hover{
    color: white;
    font-size: 30px;
    transition: all 2s linear;

}
.animation_box::before{
   content: "";
   height: 100%;
   width: 100%;
   /* top: 0;
   left:0 ; */
   background-color: red;
   position: absolute;
   transform: translateY(-100%);
   z-index: -1;

}
.animation_box:hover::before{
    transform: translateY(0);
    transition: all 2s linear;
}