<!DOCTYPE html>
<html lang="en" class="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>components</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
</head>

<body class="overflow-x-hidden">

    <!-- demo-1 start -->
    <div class="w-screen h-screen flex  items-center justify-center">

        <div class="h-[300px] w-[400px] flex flex-col justify-center items-center gap-4 border-4 mt-4">
            <h1 class="text-gray-700 font-extrabold text-5xl">404</h1>
            <p class="text-2xl font-semibold">Sorry,We couldn't find this page</p>
            <button class="bg-purple-600 px-32 py-4 rounded-md text-white">back to home</button>
        </div>

    </div>
    <!-- demo-1 end -->

    <br><br>

    <!-- demo-2 start -->
    <div class="w-screen h-screen border bg-black flex  items-center justify-center ">

        <div class="w-full h-full border-4 bg-[url(./image/leaf.png)] bg-no-repeat bg-cover">
            <div class=" bg-white h-[95%] w-[70%] ">
                <div class="h-[60%] w-[90%]  flex flex-col  justify-around ml-[16px]">
                    <div class="h-[50%]  ">
                        <p class="text-2xl font-bold">Plant <span class="text-green-500">.</span></p>

                    </div>
                    <div class="h-[50%] space-y-4 ">
                        <h1 class="text-4xl font-bold">Find your <span class="text-green-600">greeny</span> stuff for
                            your room</h1>
                        <div class="h-1 w-8 bg-green-600"></div>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique deserunt tenetur,
                            inventore hic eius magni necessitatibus ducimus optio nobis error!</p>
                        <button class="bg-green-600 text-color text-white px-6 py-2 rounded-md">Learn More</button>
                    </div>
                </div>

            </div>
            <div class="w-full h-[5%] bg-black text-white ">
                <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, perferendis.
                </p>
            </div>
        </div>

    </div>
    <!-- demo-2 end -->

    <br><br>

    <!-- demo-3 start -->
    <div class=" h-screen w-screen flex justify-center items-center gap-4">
        <img src="./image/home_icon.svg" alt="icon">
        <p>Documention &nbsp; / &nbsp; Database &nbsp; / &nbsp; Replication</p>
    </div>
    <!-- demo-3 end -->

    <br><br>

    <!-- demo-4 start -->
    <div
        class=" h-[50%] w-full flex flex-col justify-center items-center gap-6 bg-gradient-to-b from-green-100   via-green-200 to-green-100">
        <div class="flex items-center relative ">
            <!-- <div class="h-20 w-20 border-2 border-black rounded-full"></div>
            <div class="h-20 w-20 border-2 border-black rounded-full"></div>
            <div class="h-20 w-20 border-2 border-black rounded-full"></div>
            <div class="h-20 w-20 border-2 border-black rounded-full"></div>
            <div class="h-20 w-20 border-2 border-black rounded-full"></div> -->
            <img src="./image/profile_1.jfif" alt="" class="h-12 w-12 rounded-full relative z-10 left-5">
            <img src="./image/profile_2.jfif" alt="" class="h-16 w-16 rounded-full relative z-20 left-3">
            <img src="./image/profile_3.jfif" alt="" class="h-24 w-24 rounded-full relative z-30 top-0">
            <img src="./image/profile_4.jfif" alt="" class="h-16 w-16 rounded-full relative z-20 -left-3">
            <img src="./image/profile_5.jfif" alt="" class="h-12 w-12 rounded-full relative z-10 -left-5">
        </div>

        <h1 class="text-4xl font-bold text-gray-700">Get Started Now</h1>
        <p class="text-xl text-gray-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, dolores.
        </p>
        <div>
            <button class="bg-green-500 text-white px-6 py-2 rounded-3xl">Get Started</button>
            <button class="text-green-500 bg-green-100 px-6 py-2 rounded-3xl">More about</button>
        </div>
    </div>
    <!-- demo-4 end -->
    
    <br><br>


    <!-- demo 5 start -->
    <div class="h-screen w-screen grid  grid-cols-3 gap-4 p-16">

        <div class="shadow-xl flex flex-col justify-around items-start">

            <div class="w-full h-[50%] relative overflow-y-hidden">
                <img src="./image/newyork.jfif" alt="" height="100%" width="100%" class="hover:brightness-150">
                <div
                    class=" inline bg-violet-700 text-white py-2 px-4 bottom-0 left-0 absolute hover:bg-white hover:text-violet-700">
                    photos</div>
                <div
                    class="inline-block h-16 w-16 bg-violet-700 text-white hover:bg-white hover:text-violet-700 rounded-full text-center px-2 py-2 absolute top-2 right-2">
                    27 March</div>
            </div>

            <div class="pl-4">
                <h2 class="text-xl font-semibold">Best view in newyork City</h2>
                <p class="text-gray-600">The city that never sleeps</p>
            </div>

            <div class="flex gap-2 pl-4">
                <img src="./image/watch.svg" alt="">
                <p>6 mins ago</p>
            </div>
        </div>

        <div class="  shadow-xl flex flex-col justify-around items-start">

            <div class="w-full h-[50%]  relative overflow-y-hidden">
                <img src="./image/pizza.jfif" alt="" height="100%" width="100%" class="hover:brightness-150">
                <div
                    class=" inline bg-violet-700 text-white   hover:bg-white hover:text-violet-700 py-2 px-4 bottom-0 left-0 absolute ">
                    photos</div>
                <div
                    class="inline-block h-16 w-16 bg-violet-700 text-white  hover:bg-white hover:text-violet-700 rounded-full text-center px-2 py-2 absolute top-2 right-2">
                    20 March</div>
            </div>

            <div class="pl-4">
                <h2 class="text-xl font-semibold">best pizza in town</h2>
                <p class="text-gray-600">The pizza very testy</p>
            </div>

            <div class="flex gap-2 pl-4">
                <img src="./image/watch.svg" alt="">
                <p>3 mins read</p>
            </div>
        </div>

        <div class="shadow-xl flex flex-col justify-around items-start">

            <div class="w-full h-[50%] relative overflow-y-hidden">
                <img src="./image/salad.jfif" alt="" height="full" width="100%" class="hover:brightness-150">
                <div
                    class=" inline bg-violet-700 text-white  hover:bg-white hover:text-violet-700 py-2 px-4 bottom-0 left-0 absolute">
                    photos</div>
                <div
                    class="inline-block h-16 w-16 bg-violet-700 text-white  hover:bg-white hover:text-violet-700 rounded-full text-center px-2 py-2 absolute top-2 right-2">
                    15 april</div>
            </div>

            <div class="pl-4">
                <h2 class="text-xl font-semibold">Best salad image ever</h2>
                <p class="text-gray-600">The collection of best salad in town</p>
            </div>

            <div class="flex gap-2 pl-4">
                <img src="./image/watch.svg" alt="">
                <p>6 mins read</p>
            </div>
        </div>

    </div>
    <!-- demo 5 end -->
    
    <br><br>

    <!-- footer start -->
    <div class=" w-screen bg-black py-20 flex justify-center items-center">

       <div class="w-[80%] h-[50%] text-white gap-4 bg-purple-600 space-y-4 pb-8">
        <div class="w-full h-full mx-auto p-16  grid grid-cols-4 text-white gap-4 bg-purple-600 ">

            <div class="flex flex-col gap-4">
                <h1 class="text-xl font-bold"> <span class="text-red-700">Your</span>Logo</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque amet assumenda voluptatum eveniet
                    laudantium earum ducimus necessitatibus impedit asperiores vel!</p>
                <div class="flex gap-4">
                    <i class="fa-brands fa-whatsapp"></i>
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-regular fa-envelope"></i>
                    <i class="fa-brands fa-linkedin"></i>
                </div>
            </div>

            <div class="flex flex-col gap-4 pt-8">
                <div class="flex items-center gap-4">
                  
                        <i class="fa-solid fa-phone"></i>
                   
                    <div>
                        <p>+91 7285080838</p>
                        <p class="text-sm">Support Number</p>
                    </div>
                </div>
                <div class="flex items-center gap-4">
                    <i class="fa-regular fa-envelope"></i>
                    <div>
                        <p>@arakholiya5@gmail.com</p>
                        <p class="text-sm">Support email</p>
                    </div>
                </div>
                <div class="flex items-center gap-4">
                    <i class="fa-solid fa-location-dot"></i>
                    <div>
                        <p>monpari ,junagadh ,gujrat-362120</p>
                        <p class="text-sm">Addresh</p>
                    </div>
                </div>
            </div>

            <div class="flex flex-col gap-4">
                <h2 class="text-xl font-bold">Pages</h2>
                <p>Home</p>
                <p>News</p>
                <p>Contact</p>
                <p>Plans and Pricing</p>
                <p>Terms and condition</p>
                <p>Privacy Policy</p>
            </div>


            <div class="flex flex-col gap-4">
                <h1 class="text-xl font-bold">Download the app</h1>
                <img src="./image/google_play.png" alt="" width="100px">
                <img src="./image/app_store.png" alt="" width="100px">
            </div>

            
        </div>
        <hr class="w-[90%] h-1 mx-auto">

        <p class="text-center "> © copyright Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, veritatis!</p>
       </div>

        
    </div>
    <!-- footer end -->

    <br><br>

    <!-- grid layoud start -->
    <div>

        <section class="w-screen py-12">
            <div class=" w-[80%] flex justify-between mx-auto mb-8">
                <div class="w-[60%] flex justify-around items-center gap-4" >
                    <h1 class="text-2xl font-bold">Gallery</h1>
                    <p class="text-gray-600 text-sm conte">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae, aperiam.l Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, labore! </p>
                </div>
                <button class="text-gray-600 border border-gray-600 px-4 py-2 ">
                    More
                </button>
            </div>

            <!-- grid -->
            <div class="w-[80%] h-[400px] mx-auto  grid grid-cols-3 gap-8">

                <div class="relative overflow-hidden">
                    
                    <img src="./image/VR.jpeg" alt="" height="100%" width="100%">
                    <p class="absolute bottom-2 left-4 text-white">VR</p>
                </div>

                <div class="relative overflow-hidden col-start-2 col-end-4">
                    
                    <img src="./image/Technology.jfif" alt="" height="100%" width="100%">
                    <p class="absolute bottom-2 left-4 text-white">Tech</p>
                </div>

                <div class="relative overflow-hidden col-start-1 col-end-3">
                    
                    <img src="./image/tech_develop.avif" alt="" height="100%" width="100%">
                    <p class="absolute bottom-2 left-4 text-white">Dev</p>
                </div>

                <div class="relative overflow-hidden">
                    
                    <img src="./image/retro_tech.jfif" alt="" height="100%" width="100%">
                    <p class="absolute bottom-2 left-4 text-white">Retro</p>
                </div>
               
            </div>
       
           
        </section>

    </div>

    <!-- grid layoud end -->

    <br><br>

    <!-- hero section start -->

    <div class="w-screen h-[500px] bg-black p-4">
        <div class="w-[90%] h-full mx-auto bg-[url(./image/background_laptop.jpg)] bg-no-repeat bg-cover flex justify-center items-center">
            <div class="text-white flex flex-col items-center gap-4">
                <h1 class="text-4xl font-bold">Welcome to out Awesome Website</h1>
                <p class="text-sm text-center">Lorem ipsum dolor sit amet consectetur adipisicin minima?</p>
                <button class="text-black bg-yellow-400 px-4 py-2 rounded-3xl text-center">Get Started</button>
            </div>

        </div>

    </div>
    <!-- hero section end -->

     <br><br><br>

    <!-- watch section start -->
     <div class="w-screen">

        <nav class="w-[80%] mx-auto mb-8 p-4">
            <div class="w-full  flex justify-between items-center">
                <h1 class="text-2xl font-bold">WATCH.ME</h1>
                <div class="space-x-4">
                    <a href="#">HOME</a>
                    <a href="#">WATCH</a>
                    <a href="#">PRODUCT</a>
                    <a href="#">CONTACT</a>
                    <a href="#">CAREER</a>
                </div>
            </div>
        </nav>

        <section class="w-[80%]  mx-auto">
            <div class="w-full flex justify-around items-center">
                <div class="flex flex-col space-y-4">
                    <div class="w-16 h-2 bg-black"></div>
                    <h1 class="text-7xl font-extrabold">BE ON <br>TIME</h1>
                    <p class="text-sm">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad possimus tenetur accusantium eaque quam hic dolor molestias dolorem dolore voluptas.</p>
                    <div>
                        <button class="px-4 py-2 border-2 border-pink-400 rounded-lg text-pink-400 hover:bg-pink-400 hover:text-white">READ MORE</button>
                        <button class="px-4 py-2 border-2 border-pink-400 rounded-lg text-pink-400 hover:bg-pink-400 hover:text-white">GET STARTED</button>
                    </div>
                </div>

                <div class="w-[50%]">
                    <img src="./image/smart_watch.jpg" alt="">
                </div>
            </div>
        </section>
     </div>
    <!-- watch section end -->

    <br><br><br>

    <!-- members section start -->
     <div class="w-screen flex justify-center items-center">
        <div class="w-[50%] flex flex-col justify-center items-center gap-4 py-20">
            <p class="text-2xl font-bold self-start">Trusted By</p>
            <div class="flex items-center gap-4">
                <div class="flex position">
                    <img src="./image/profile_1.jfif" alt="" class="h-16 w-16 rounded-full relative left-0">
                    <img src="./image/profile_2.jfif" alt="" class="h-16 w-16 rounded-full relative -left-2">
                    <img src="./image/profile_4.jfif" alt="" class="h-16 w-16 rounded-full relative -left-4">
                    <img src="./image/profile_5.jfif" alt="" class="h-16 w-16 rounded-full relative  -left-6">
                    <img src="./image/profile_6.jfif" alt="" class="h-16 w-16 rounded-full relative  -left-8">
                    <img src="./image/profile_7.jfif" alt="" class="h-16 w-16 rounded-full relative  -left-10">
                </div>
                <p class="text-xl font-semibold">Join 5,000+ other members</p>
            </div>
        </div>
     </div>
    <!-- members section end -->

     <br><br><br>
     
    <!-- product section start -->

    <!-- <section>
        <div>
            <div>
                <img src="./image/product_img.jpg" alt="">
                <div>
                    <button class="text-xl font-bold">Add to Cart</button>
                    <button class="text-xl font-bold">Add to Wishlist</button>
                </div>
            </div>

            <div>
                <h1>Product Name</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur repellat quis voluptatibus delectus repellendus, corporis ipsa error facere est commodi?</p>
                <p><span>Price:</span>$29.99</p>
                <p><span>Availbility:</span>In Stock</p>
                <p>Select Color:</p>
                <div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <p>Select Size:</p>
                <div>
                    <div>S</div>
                    <div>M</div>
                    <div>L</div>
                    <div>XL</div>
                    <div>XXL</div>
                </div>
                <p>Product Description:</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate voluptatum alias, quod eveniet totam nam nisi omnis maxime, recusandae ducimus eius laudantium! Nesciunt, perferendis minus dolorum, nostrum maxime vel inventore eligendi ad labore ab iure atque omnis at aliquam asperiores cum eaque vero, sint facere accusantium deserunt. Voluptas, perspiciatis sed.</p>

            </div>
        </div>
    </section> -->
    <!-- product section end -->

    <br><br><br>

    <!-- grid-layout start -->
        <div class="w-screen  overflow-hidden p-8">
            <div class="w-[80%] h-full mx-auto">
                <h1 class="text-4xl font-bold text-center mb-4">Responsive Product Card grid</h1> 
                <p class="text-3xl font-semibold text-center mb-8">Tailwind CSS</p>
                <!-- grid_container -->
                <div class="grid grid-cols-3 gap-4 p-4">
                    <!-- card-1 -->
                    <div class="shadow-xl ">
                        <div class="w-full h-[70%] overflow-hidden">
                            <img src="./image/cold_drink_1.jfif" alt="" class="h-full w-full">
                        </div>
                        <div class=" h-[30%] flex flex-col justify-between p-4">
                            <p class="text-md text-gray-400">BRAND</p>
                            <p class="text-xl font-bold">Product Name</p>
                            <div>
                                <div class="flex justify-between">
                                    <div>
                                        <div class="flex gap-4">
                                            <p class="text-xl font-bold">$149</p>
                                            <p class="line-through text-lg text-gray-400 decoration-black">$149</p>
                                        </div>
                                    </div>
                                    <div>
                                        <i class="fa-solid fa-bag-shopping"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- card-2 -->
                    <div class="shadow-xl ">
                        <div class="w-full h-[70%] overflow-hidden">
                            <img src="./image/cold_drink_2.jfif" alt="" class="h-full w-full">
                        </div>
                        <div class=" h-[30%] flex flex-col justify-between p-4">
                            <p class="text-md text-gray-400">BRAND</p>
                            <p class="text-xl font-bold">Product Name</p>
                            <div>
                                <div class="flex justify-between">
                                    <div>
                                        <div class="flex gap-4">
                                            <p class="text-xl font-bold">$149</p>
                                            <p class="line-through text-lg text-gray-400 decoration-black">$149</p>
                                        </div>
                                    </div>
                                    <div>
                                        <i class="fa-solid fa-bag-shopping"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- card-3 -->
                    <div class="shadow-xl ">
                        <div class="w-full h-[70%] overflow-hidden">
                            <img src="./image/cold_drink_3.jpg" alt="" class="h-full w-full">
                        </div>
                        <div class=" h-[30%] flex flex-col justify-between p-4">
                            <p class="text-md text-gray-400">BRAND</p>
                            <p class="text-xl font-bold">Product Name</p>
                            <div>
                                <div class="flex justify-between">
                                    <div>
                                        <div class="flex gap-4">
                                            <p class="text-xl font-bold">$149</p>
                                            <p class="line-through text-lg text-gray-400 decoration-black">$149</p>
                                        </div>
                                    </div>
                                    <div>
                                        <i class="fa-solid fa-bag-shopping"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- card-4 -->
                    <div class="shadow-xl ">
                        <div class="w-full h-[70%] overflow-hidden">
                            <img src="./image/cold_drink_4.jpg" alt="" class="h-full w-full">
                        </div>
                        <div class=" h-[30%] flex flex-col justify-between p-4">
                            <p class="text-md text-gray-400">BRAND</p>
                            <p class="text-xl font-bold">Product Name</p>
                            <div>
                                <div class="flex justify-between">
                                    <div>
                                        <div class="flex gap-4">
                                            <p class="text-xl font-bold">$149</p>
                                            <p class="line-through text-lg text-gray-400 decoration-black">$149</p>
                                        </div>
                                    </div>
                                    <div>
                                        <i class="fa-solid fa-bag-shopping"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- card-5 -->
                    <div class="shadow-xl ">
                        <div class="w-full h-[70%] overflow-hidden">
                            <img src="./image/cold_drink_5.jpg" alt="" class="h-full w-full">
                        </div>
                        <div class=" h-[30%] flex flex-col justify-between p-4">
                            <p class="text-md text-gray-400">BRAND</p>
                            <p class="text-xl font-bold">Product Name</p>
                            <div>
                                <div class="flex justify-between">
                                    <div>
                                        <div class="flex gap-4">
                                            <p class="text-xl font-bold">$149</p>
                                            <p class="line-through text-lg text-gray-400 decoration-black">$149</p>
                                        </div>
                                    </div>
                                    <div>
                                        <i class="fa-solid fa-bag-shopping"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- card-6 -->
                    <div class="shadow-xl ">
                        <div class="w-full h-[70%] overflow-hidden">
                            <img src="./image/cold_drink_6.webp" alt="" class="h-full w-full">
                        </div>
                        <div class=" h-[30%] flex flex-col justify-between p-4">
                            <p class="text-md text-gray-400">BRAND</p>
                            <p class="text-xl font-bold">Product Name</p>
                            <div>
                                <div class="flex justify-between">
                                    <div>
                                        <div class="flex gap-4">
                                            <p class="text-xl font-bold">$149</p>
                                            <p class="line-through text-lg text-gray-400 decoration-black">$149</p>
                                        </div>
                                    </div>
                                    <div>
                                        <i class="fa-solid fa-bag-shopping"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- grid-layout end -->

    <br><br><br>

    <!-- demo-13 start -->

            <div class="w-screen h-screen">

                <div class=" w-[80%] flex justify-around items-center mx-auto border-2 p-8">

                    <div class=" w-[40%] h-full space-y-8">
                        <p class="text-blue-500 font-semibold mb-2">Produce faster</p>
                        <h1 class="text-3xl font-bold mb-4">An Enterprise API</h1>
                        <p>We've built an API that allows you to scale your podcast<br> production workflow</p>
                        <div class="flex mt-9">
                            <i class="fa-solid fa-layer-group mt-1 mr-2 text-blue-500"></i>
                            <p><span class="font-bold">Template driven</span> inspired by Sendgrid, Mailchimp, and Postmark,<br> we allow you to create and apply templated content to your media</p>
                        </div>
                        <div class="flex mt-7">
                            <i class="fa-solid fa-cloud-arrow-down mt-1 mr-2 text-blue-500"></i>
                            <p><span class="font-bold">Simple, REST</span>  A simple REST API that allows you to create,<br> generate, and manage your content.</p>
                        </div>
                        <div class="flex mt-7 mb-7">
                            <i class="fa-solid fa-screwdriver-wrench mt-1 mr-2 text-blue-500"></i>
                            <p><span class="font-bold">Developer friendly</span>  Documented and easy to use we make it easy<br> to integrato with your existing workflow.</p>
                        </div>
                        <div>
                            <a href="#" class=" bg-blue-700 text-white rounded-lg px-4 py-2">Start for free</a>
                            <a href="#" class="mx-5">Schedule a demo <i class="fa-solid fa-arrow-right ml-1 mt-2"></i></a>
                        </div>
                    </div>

                    <div class="w-[60%] h-[70%]  flex items-center ">
                        <img src="./image/pc_desk.webp" alt=""  class="h-[50%] w-full">
                    </div>

                </div>
            </div>
        
    <!-- demo-13 end -->
     <br><br><br>


    <!-- demo-14 start -->
            <div class="w-screen h-screen">
                <div class="w-[70%] h-[90%] mx-auto border-2 flex shadow-2xl">

                    <!-- left-part -->
                    <div class="w-[45%] h-full flex flex-col gap-8">

                         <!-- first part -->
                        <div class="w-[80%] h-full mx-auto  flex flex-col items-center gap-8 py-8">

                        <!-- first -->
                        <div class="flex justify-center items-center gap-4">
                            <i class="fa-regular fa-face-tired  fa-2x text-violet-500"></i>
                            <p class="text-violet-500 text-xl font-bold">Templatana</p>
                        </div>

                        <!-- second -->
                         <div>
                            <h1 class="text-blue-950 text-4xl font-extrabold">Sign up</h1>
                         </div>

                         <!-- third -->
                          <div class="w-[70%] h-[60px] bg-blue-100 flex justify-center items-center gap-4 rounded-md"> 
                                <img src="./image/google_icon.png" alt="" height="30px" width="30px" class="rounded-full">
                                <p class="text-blue-950 text-xl font-bold">Sign Up With Google</p>
                          </div>

                          <!-- fourth -->
                           <div class="w-[70%] h-[60px] bg-blue-100 flex justify-center items-center gap-4 rounded-md">
                            <img src="./image/github_icon.png" alt="" height="30px" width="30px" class="rounded-full">
                            <p class="text-blue-950 text-xl font-bold">Sign Up With GitHub</p>
                           </div>
                        
                        </div>

                    <!-- middle part -->
                     <div class="w-[80%] h-[30px]  mx-auto relative">
                        <div class="bg-gray-200 h-[2px] w-[100%] mx-auto absolute">
                            
                        </div>
                        <p class="text-gray-400 text-xl font-semibold absolute bg-white inline left-[25%] -bottom-3">Or sign up with e-mail</p>
                     </div>

                    <!-- last part -->
                    <div class="w-[80%] h-full mx-auto  p-8 gap-4">
                        <!-- first -->
                        <div class="bg-gray-100 rounded-md mb-4">
                            <input type="text" placeholder="Email" class="outline-none py-4 px-8 text-xl font-medium bg-gray-100 rounded-tl-md rounded-bl-md">
                        </div>

                        <!-- second -->
                        <div class="bg-gray-100 rounded-md mb-4">
                            <input type="password" placeholder="Password" class="outline-none py-4 px-8 text-xl font-medium bg-gray-100 ">
                        </div>

                         <!-- third -->
                          <div class="bg-indigo-500 py-4 px-8 flex justify-center items-center gap-6  rounded-md mb-4"> 
                            <i class="fa-solid fa-user-plus text-white fa-xl"></i>
                            <p class="text-white font-xl font-medium">Sign Up</p>
                          </div>
                        <!-- forth -->
                         <div>
                            <p class="text-gray-400 text-sm">i agree to abide by templetana's Terms of Service and its Privacy Policy</p>
                         </div>
                        
                    </div>
                     </div>
                   
                     <!-- right-part -->
                    <div class="w-[55%] flex justify-center items-center bg-indigo-100 overflow-hidden">
                        <img src="./image/computer_desk.png" alt="" >
                    </div>
                    
                    
                </div>
            </div>
     <!-- demo-14 end -->

      <br><br><br>

      <!-- demo-15 start -->
      <div class="w-screen h-screen">
        <div class="w-[40%] h-full mx-auto">
            <div class="text-center">
                <p class="text-[12px] mb-0">F.A.Q</p>
                <h1 class="text-3xl font-bold mb-9">Frequently Asked <span class="text-[#6366f1]">Questions</span></h1>
            </div>

            <div class="flex items-center">
                <i class="fa-solid fa-question bg-[#6366f1] py-3 px-5 text-white text-2xl rounded-full"></i>
                <h3 class="bg-[#f3f4f6] py-5 pl-8 w-full ml-4 font-semibold">What could possibly be your first question?
                </h3>
            </div>

            <div class="flex items-start mt-6">
                <p class="bg-[#e0e7ff] py-3 px-11">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maores
                    impedit perferendis suscipit eaque ista dolar cupiditata blandinu rations. Lorem ipsum dolor sit
                    amet consectetur adipisiong elt</p>
                    <!-- <div class="w-[50px] py-1 px-1 rounded-full border-2">
                        <i class="fa-solid fa-head-side-virus"></i>
                    </div> -->
                <img src="./image/head_side_gear.png" alt="" class="bg-[#6366f1] w-[70px] rounded-full ml-5 py-1 px-1 mt-4">
            </div>

            <div class="flex items-center mt-6">
                <i class="fa-solid fa-question bg-[#6366f1] py-3 px-5 text-white text-2xl rounded-full"></i>
                <h3 class="bg-[#f3f4f6] py-5 pl-8 w-full ml-4 font-semibold">What could possibly be your first question?
                </h3>
            </div>

            <div class="flex items-start mt-6">
                <p class="bg-[#e0e7ff] py-3 px-11">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maores
                    impedit perferendis suscipit eaque ista dolar cupiditata blandinu rations. Lorem ipsum dolor sit
                    amet consectetur adipisiong elt</p>
                <img src="./image/head_side_gear.png" alt="" class="bg-[#6366f1] w-[70px] rounded-full ml-5 py-1 px-1 mt-4">
            </div>

            <div class="flex items-center mt-6">
                <i class="fa-solid fa-question bg-[#6366f1] py-3 px-5 text-white text-2xl rounded-full"></i>
                <h3 class="bg-[#f3f4f6] py-5 pl-8 w-full ml-4 font-semibold">What could possibly be your first question?
                </h3>
            </div>

            <div class="flex items-start mt-6">
                <p class="bg-[#e0e7ff] py-3 px-11">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maores
                    impedit perferendis suscipit eaque ista dolar cupiditata blandinu rations. Lorem ipsum dolor sit
                    amet consectetur adipisiong elt</p>
                <img src="./image/head_side_gear.png" alt="" class="bg-[#6366f1] w-[70px] rounded-full ml-5 py-1 px-1 mt-4">
            </div>
        </div>
    </div>
      <!-- demo-15 end -->
       <br><br><br>

       <!-- demo-16 start -->

    <div class="w-screen h-screen">

        <div class="w-[100%] mb-12">
             <nav class=" px-12 py-8">
                 <div class="flex justify-between items-center">
                     <p>Acme inc.</p>
                     <div class="space-x-4">
                         <a href="#">About Us</a>
                         <a href="#">Treatment</a>
                         <a href="#">Blog</a>
                         <a href="#">Contact Us</a>
                     </div>
                 </div>
             </nav>
        </div>
 
        <!-- grid-section -->
         <div class="w-[70%] h-[90%] mx-auto grid grid-cols-3 gap-8 p-8">
            <!-- grid-1 -->
            <div class="flex flex-col gap-4">
                <p class="text-indigo-600 font-semibold">Everything You need</p>
                <h1 class="text-3xl font-bold">All-in-One Plantform</h1>
                <p class="text-gray-500 text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde culpa quaerat tempora optio officiis laudantium eligendi sit cum dignissimos nam.</p>
            </div>

            <!-- grid-2 -->
            <div class="flex flex-col gap-12">

                <div class="flex flex-col gap-4">
                    <ul class="list-none list-outside">
                        <li class="text-sm ">
                            <i class="fa-solid fa-check px-2" style="color: #50f722;"></i>
                            Invite team members
                        </li >
                    </ul>
                    <p class="text-gray-500 text-sm ml-8">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat, debitis?</p>
                </div>

                <div class="flex flex-col gap-4">
                    <ul class="list-none list-outside">
                        <li class="text-sm ">
                            <i class="fa-solid fa-check px-2" style="color: #50f722;"></i>
                            Invite team members
                        </li >
                    </ul>
                    <p class="text-gray-500 text-sm ml-8">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat, debitis?</p>
                </div>

                <div class="flex flex-col gap-4">
                    <ul class="list-none list-outside">
                        <li class="text-sm ">
                            <i class="fa-solid fa-check px-2" style="color: #50f722;"></i>
                            Invite team members
                        </li >
                    </ul>
                    <p class="text-gray-500 text-sm ml-8">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat, debitis?</p>
                </div>

                <div class="flex flex-col gap-4">
                    <ul class="list-none list-outside">
                        <li class="text-sm ">
                            <i class="fa-solid fa-check px-2" style="color: #50f722;"></i>
                            Invite team members
                        </li >
                    </ul>
                    <p class="text-gray-500 text-sm ml-8">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat, debitis?</p>
                </div>

            </div>

            <!-- grid-3 -->
            
            <div class="flex flex-col gap-12">

                <div class="flex flex-col gap-4">
                    <ul class="list-none list-outside">
                        <li class="text-sm ">
                            <i class="fa-solid fa-check px-2" style="color: #50f722;"></i>
                            Invite team members
                        </li >
                    </ul>
                    <p class="text-gray-500 text-sm ml-8">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat, debitis?</p>
                </div>

                <div class="flex flex-col gap-4">
                    <ul class="list-none list-outside">
                        <li class="text-sm ">
                            <i class="fa-solid fa-check px-2" style="color: #50f722;"></i>
                            Invite team members
                        </li >
                    </ul>
                    <p class="text-gray-500 text-sm ml-8">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat, debitis?</p>
                </div>

                <div class="flex flex-col gap-4">
                    <ul class="list-none list-outside">
                        <li class="text-sm ">
                            <i class="fa-solid fa-check px-2" style="color: #50f722;"></i>
                            Invite team members
                        </li >
                    </ul>
                    <p class="text-gray-500 text-sm ml-8">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat, debitis?</p>
                </div>

                <div class="flex flex-col gap-4">
                    <ul class="list-none list-outside">
                        <li class="text-sm ">
                            <i class="fa-solid fa-check px-2" style="color: #50f722;"></i>
                            Invite team members
                        </li >
                    </ul>
                    <p class="text-gray-500 text-sm ml-8">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat, debitis?</p>
                </div>

            </div>
            
         </div>
    </div>

       <!-- demo-16 end -->
        <br><br><br>


        <!-- demo-17 start -->
        <div class="w-[80%] h-[1200px] bg-black mx-auto">
            <!-- first section -->
            <div class="w-[80%] h-[30%]  mx-auto bg-white" >
                <div class=" w-full h-full flex  items-center justify-center gap-4 text-white  bg-blue-700">

                    <div class="w-[50%] h-[80%] flex flex-col justify-center gap-8 px-16 -mx-16">
                        <h1 class="text-2xl font-bold">Discover The world's best coffee</h1>
                        <p class="text-sm">Lorem ipsum dolor sit amet   consectetur adipisicing elit. Saepe, soluta!</p>
                        <button class="text-sm bg-white text-blue-700   rounded-2xl font-bold px-4 py-2 self-start">shop now</button>
                    </div>

                    <div class="w-[40%] h-[80%] bg-[url('./image/coffee.avif')]  bg-cover bg-no-repeat">
                    
                    </div>

                </div>
               
            </div>

            <!-- second section -->
             <div class="w-[80%] h-[70%] mx-auto bg-white">
                <div class="w-[80%] h-full mx-auto">
                    <h1 class="font-3xl font-bold pt-8 mb-4">feature products</h1>
                    <!-- grid container -->

                     <div class="w-full h-full grid grid-cols-3 gap-4">  

                        <!-- grid-1 -->
                         <div class="h-[80%] flex flex-col justify-between shadow-lg rounded-lg">
    
                            <div class="w-full h-[80%] bg-[url('./image/night_hill.jpg')] bg-center bg-cover rounded-lg">
                            </div>
    
                            <div class=" text-sm p-4 flex flex-col justify-between gap-2">
                                <h2 class="text-lg font-semibold">Single Origin Blend</h2>
                                <p class="text-gray-600 ">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni, voluptates.</p>
                                <div class="flex justify-between items-center ">
                                    <p class="font-semibold inline ">$14.99</p>
                                    <button class="text-white font-bold bg-blue-700 rounded-3xl px-4 py-2">Add to cart</button>
                                </div>
                            </div>
                         </div>
                        <!-- grid-2 -->
                        <div class="h-[80%]  flex flex-col justify-between shadow-lg rounded-lg ">
    
                            <div class="w-full h-[50%] bg-[url('./image/coffee.avif')] bg-center bg-cover rounded-lg">
                            </div>
    
                            <div class="text-sm p-4 flex flex-col justify-between gap-2">
                                <h2 class="text-lg font-semibold">Single Origin Blend</h2>
                                <p class="text-gray-600 ">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni, voluptates.</p>
                                <div class="flex justify-between items-center ">
                                    <p class="font-semibold inline ">$14.99</p>
                                    <button class="text-white font-bold bg-blue-700 rounded-3xl px-4 py-2">Add to cart</button>
                                </div>
                            </div>
                         </div>
                        <!-- grid-3 -->
                        <div class="h-[80%] flex flex-col justify-between shadow-lg rounded-lg ">
    
                            <div class="w-full h-[50%] bg-[url('./image/coffee.avif')] bg-center bg-cover rounded-lg">
                            </div>
    
                            <div class="text-sm p-4 flex flex-col justify-between gap-2">
                                <h2 class="text-lg font-semibold">Single Origin Blend</h2>
                                <p class="text-gray-600 ">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni, voluptates.</p>
                                <div class="flex justify-between items-center ">
                                    <p class="font-semibold inline ">$14.99</p>
                                    <button class="text-white font-bold bg-blue-700 rounded-3xl px-4 py-2">Add to cart</button>
                                </div>
                            </div>
                         </div>
                        <!-- grid-4 -->
                        <div class="h-[80%] flex flex-col justify-between shadow-lg rounded-lg ">
    
                            <div class="w-full h-[50%] bg-[url('./image/coffee.avif')] bg-center bg-cover rounded-lg">
                            </div>
    
                            <div class="text-sm p-4 flex flex-col justify-between gap-2">
                                <h2 class="text-lg font-semibold">Single Origin Blend</h2>
                                <p class="text-gray-600 ">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni, voluptates.</p>
                                <div class="flex justify-between items-center ">
                                    <p class="font-semibold inline ">$14.99</p>
                                    <button class="text-white font-bold bg-blue-700 rounded-3xl px-4 py-2">Add to cart</button>
                                </div>
                            </div>
                         </div>
                        
                     </div>
                </div>
               
             </div>
            
            
        </div>
        <!-- demo-17 end -->
         <br><br><br>


        <!-- dark mode start -->
         <div class="w-[200px] h-[200px] border-4 border-black dark:border-green-500 mx-auto dark:bg-yellow-200 dark:text-red-500">
            <p>dark mode trial</p>
         </div>

         <br><br><br>

        <!-- responsive design -->
         <div class="w-screen h-screen grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-2">
                <div class="bg-violet-500">box1</div>
                <div class="bg-violet-500">box2</div>
                <div class="bg-violet-500">box3</div>
                <div class="bg-violet-500">box4</div>
                <div class="bg-violet-500">box5</div>
                <div class="bg-violet-500">box6</div>
                <div class="bg-violet-500">box7</div>
                <div class="bg-violet-500">box8</div>
                <div class="bg-violet-500">box9</div>
                <div class="bg-violet-500">box10</div>
                <div class="bg-violet-500">box11</div>
                <div class="bg-violet-500">box12</div>
                
         </div>


    

</body>

</html>