*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
   height: 500px;
   padding: 10px;
   
    
    background-color: yellowgreen;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: start;
    
}
.box{
     height: 100px;
    width: 100px;
    background-color: purple;
    border: 2px solid white;
}
#box1{
    flex-grow: 1;
}
#box2{
    flex-grow: 1;
}
#box3{
    flex-shrink: 3;
}
#box4{
    flex-grow: 1;
}
